button.msi {
  padding: 15px 30px;
  background-color: $primary-green;
  border: 1px solid #1E7433;
  border-bottom: 2px solid #1E7433;
  border-radius: 5px;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;

  &:disabled {
    background-color: #9AA19F;
    border-color: #9AA19F;
  }
}
