header.main {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  @include gradient-horizontal(#2BAA4C, #3DA44C);

  font-size: 24px;
  color: #FFFFFF;
  padding: 20px;

  > .logo {
    @include flexbox;
    @include align-items(center);

    font-weight: 200;
    color: inherit;
    text-decoration: none;

    strong {
      font-weight: 500;
    }

    > .main-logo {
      margin-right: 15px;
      width: 71px;
      height: 67px;
      background-image: url('/images/BorisIcon@2x.png');
      background-size: cover;
    }
  }

  > nav {
    font-size: $regular-font-size;

    a {
      text-decoration: none;
      color: #FFFFFF;
    }
  }

}
