header.main {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  @include gradient-horizontal(#2BAA4C, #3DA44C);

  font-size: $primary-font-size;
  color: #FFFFFF;
  padding: 30px;

  > .logo {
    @include flexbox;
    @include align-items(center);

    font-weight: 200;

    strong {
      font-weight: 500;
    }

    > .main-logo {
      margin-right: 15px;
      width: 71px;
      height: 67px;
      background-image: url('/images/BorisIcon@2x.png');
      background-size: cover;
    }
  }

}
