#modal {
  &.hidden {
    display: none;
  }

  > span > div:first-of-type {
    width: 100% !important;
    max-width: 800px;
    min-width: 500px;
    max-height: 100%;
    overflow-y: scroll;
  }

  .modal-content {
    padding: 20px;
  }
}
