@import 'fontawesome';

body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div#modal {
  &.hidden {
    display: none;
  }

  .modal-content {
    padding: 30px;
  }

  button {
    float: right;
  }
}

.channels-list {
  > li {
    > i {
      margin-right: 10px;
      color: #C8C8C8;

      &.invited {
        color: #3BC363;
      }
      &.uninvited {
        color: #FFC202;
      }
    }
  }
}
