@import 'fontawesome';
@import 'flexbox';
@import 'gradients';
@import 'appearance';
@import 'user-select';

$primary-green: #3BC363;
$primary-gray: #CBD0CD;
$primary-font-size: 32px;
$regular-font-size: 22px;

body {
  font: 14px Helvetica Neue, Helvetica, Arial, sans-serif;
  display: block;
  margin: 0;

  &.modal-opened {
    overflow: hidden;
  }

  main {
    min-width: 800px;

    > div.container {
      @include flexbox;
      @include flex-direction(column);
      min-height: 100vh;

      > .content {
        @include flex(1);
      }
    }

    h1 {
      margin: 0;
      font-weight: normal;
    }

    a {
      color: #00B7FF;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 1.5em;
    }

    p {
      margin: 0;
      line-height: 1.5em;
    }
  }
}

@import 'buttons';
@import 'header';
@import 'footer';
@import 'modal';
@import 'landing';
@import 'configuration';
@import 'pages';
