$giant-font-size: $primary-font-size * 1.5;

@import 'slack_button';

#landing-container {
  section.top, section.bottom {
    @include gradient-horizontal(#2BAA4C, #3DA44C);
  }

  > section.top {
    position: relative;
    padding: 30px 30px 40px 30px;
    color: #FFFFFF;
    z-index: 1;

    > .bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.04;
      z-index: -1;
      background-image: url('/images/MB-bg.png');
      background-repeat: repeat;
      background-size: 400px;
    }

    > header {
      @include flexbox;
      @include justify-content(space-between);
      @include align-items(center);

      font-size: $primary-font-size;

      > .logo {
        @include flexbox;
        @include align-items(center);

        font-weight: 200;

        strong {
          font-weight: 500;
        }

        > .main-logo {
          margin-right: 15px;
          width: 71px;
          height: 67px;
          background-image: url('/images/BorisIcon@2x.png');
          background-size: cover;
        }
      }
    }

    > .content {
      @include flexbox;
      @include flex-direction(column);
      @include align-items(center);

      > .boris {
        font-size: $giant-font-size;
        max-width: 1000px;
        margin: 40px 0 60px 0;
        text-align: center;

        > p {
          > span.slack {
            white-space: nowrap;
            display: inline-block;
          }
        }

        .main-action {
          @include flexbox;
          @include justify-content(center);
          @include align-items(center);

          margin-top: 60px;

          .boris-logo {
            background-image: url('/images/Boris@2x.png');
            background-size: cover;
            width: 122px;
            height: 123px;
            margin-right: 10px;
          }

          .dashed-arrow {
            background-image: url('/images/Arrow@2x.png');
            background-size: cover;
            width: 74px;
            height: 13px;
            margin-right: 20px;
          }
        }
      }

      > p {
        max-width: 800px;
        font-size: $primary-font-size;
        text-align: center;
      }
    }
  }

  > section.features {
    @include flexbox;
    @include justify-content(center);
    @include flex-wrap(wrap);

    $slack-window-width: 1328px;
    $slack-window-height: 988px;
    $reduction-ratio: 2.3;

    background-color: #FFFFFF;
    padding: 40px 30px 30px 30px;

    > .slack-window {
      margin: 0 30px 10px 0;
      width: $slack-window-width / $reduction-ratio;
      height: $slack-window-height / $reduction-ratio;
      background-image: url('/images/SlackWindow@2x.png');
      background-size: cover;
    }

    > .description {
      width: $slack-window-width / $reduction-ratio;
      padding-top: 3px;

      > h1 {
        font-size: $primary-font-size;
        margin-bottom: 30px;
      }

      > ul {
        font-size: 22px;
        margin-left: 2em;

        > li {
          position: relative;
          margin-bottom: 20px;

          &:before {
            content: "\f111";
            font-family: FontAwesome;
            color: $primary-green;
            position: absolute;
            left: -2em;
            top: 2px;
          }
        }
      }
    }
  }

  > section.bottom {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);

    padding: 50px 30px 40px 30px;
    color: #FFFFFF;

    a {
      color: #FFFFFF;
    }

    > p {
      font-size: 22px;
      text-align: center;
      max-width: 740px;

      &:first-of-type {
        margin: 40px 0;
      }

      &:last-of-type {
        font-size: 26px;
      }
    }

  }
}
