#landing-container {
  .dashed-arrow {
    background-size: cover;
    width: 74px;
    height: 13px;
  }

  .boris-logo {
    background-image: url('/images/Boris@2x.png');
    background-size: cover;
    width: 122px;
    height: 123px;
  }

  > section.top {
    > .content {
      @include flexbox;
      @include flex-direction(column);
      @include align-items(center);

      > .boris {
        font-size: $giant-font-size;
        max-width: 800px;
        margin: 40px 0 60px 0;
        text-align: center;

        > p {
          > span.slack, span.telegram {
            white-space: nowrap;
            display: inline-block;
          }

          > span.slack {
            > i {
              margin-right: 5px;
            }
          }

          > span.telegram {
            > i {
              margin-right: 7px;
            }
          }
        }

        .main-action {
          @include flexbox;
          @include justify-content(center);
          @include align-items(center);

          margin-top: 60px;

          .dashed-arrow {
            &.normal {
              background-image: url('/images/Arrow@2x.png');
              margin: 0 20px 65px 0;
            }

            &.inverted {
              background-image: url('/images/ArrowInverted@2x.png');
              margin: 45px 0 0 20px;
            }

          }
        }
      }

      > p {
        max-width: 850px;
        font-size: $primary-font-size;
        text-align: center;
      }
    }
  }

  > section.features {
    > .slack, > .telegram {
      @include flexbox;
      @include justify-content(center);
      @include gradient-vertical(#FFFFFF, #FAF8F6);

      $window-width: 1328px;
      $window-height: 988px;
      $reduction-ratio: 2.4;

      padding: 40px 30px 30px 30px;

      > .window {
        width: $window-width / $reduction-ratio;
        height: $window-height / $reduction-ratio;
        background-size: cover;
      }

      > .description {
        width: $window-width / $reduction-ratio;

        > h1 {
          font-size: $primary-font-size;
          margin-bottom: 30px;
        }

        > ul {
          font-size: 22px;
          margin-left: 2em;
          max-width: 450px;

          > li {
            position: relative;
            margin-bottom: 20px;

            &:before {
              content: "\f111";
              font-family: FontAwesome;
              color: $primary-green;
              position: absolute;
              left: -2em;
            }
          }
        }

        > .bot {
          @include flexbox;
          @include align-items(center);
        }
      }
    }

    > .slack {
      > .window {
        background-image: url('/images/SlackWindow@2x.png');
        margin-right: 30px;
      }

      > .description {
        > .bot {
          > .dashed-arrow.flipped {
            background-image: url('/images/ArrowFlippedBlack@2x.png');
            margin-left: 20px;
            margin-right: 5px;
          }

        }
      }
    }

    > .separator {
      background-color: #BCC1BE;
      height: 20px;
    }

    > .telegram {
      > .description {
        margin-left: 10px;
      }

      > .window {
        background-image: url('/images/TelegramWindow@2x.png');
      }

    }
  }

  > section.bottom {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include gradient-horizontal(#2BAA4C, #3DA44C);

    padding: 40px 30px 40px 30px;
    color: #FFFFFF;

    a {
      color: #FFFFFF;
    }

    > p {
      font-size: 26px;
      text-align: center;
      max-width: 700px;
    }

  }
}
