.container.survey {
  > .content {
    min-width: 600px;
    max-width: 800px;

    > h1 {
      font-size: $primary-font-size;

      > i {
        color: $primary-green;
        margin-right: 10px;
      }
    }

    h1, p, .questions-counter, .result-title, .answers {
      margin-bottom: 30px;
    }

    > .result-image {
      > img {
        max-width: 800px;
        display: block;
        margin: 0 auto;
      }
    }

    .questions-counter, .result-title {
      font-size: $primary-font-size;
      text-align: center;
      color: $primary-green;
    }

    p {
      font-size: $primary-font-size;
      font-weight: 300;
    }

    .answers {
      font-size: $regular-font-size;
      font-weight: 300;

      > li {
        @include flexbox;
        @include align-items(center);

        border-top: 1px solid $primary-gray;
        padding: 20px;
        cursor: pointer;

        &:last-child {
          border-bottom: 1px solid $primary-gray;
        }

        &:hover {
          > i.unanswered {
            background-image: url('/images/surveys/QuizHover@2x.png');
          }
        }

        > i {
          width: 32px;
          height: 32px;
          background-image: url('/images/surveys/QuizSelector@2x.png');
          background-size: cover;
          margin-right: 20px;

          &.times {
            background-image: url('/images/surveys/QuizFalse@2x.png');
          }

          &.check {
            background-image: url('/images/surveys/QuizTrue@2x.png');
          }
        }
      }
    }

    .actions {
      @include flexbox;
      @include justify-content(center);

      &.result {
        margin-top: 30px;
      }
    }
  }
}
