extends layout

block content
  h2 Hey, #{team.name} team!
  p Select one or more channels. We'll post insights there only when @boris will be invited.

  form(id="channels" method="post")
    each channel in channels
      input(type="checkbox" id=channel.id name="channelIds" value=channel.id)
      label(for=channel.id)= channel.name
      br

    input(type="submit")
