extends layout

block content
  main(
    data-react-class="ConfigApp"
  )

block pagescript
  script(type="text/javascript").
    window.__INITIAL_STATE__ = {
      team: !{JSON.stringify(team)},
      channels: !{JSON.stringify(channels)}
    }
