extends layout

block meta
  meta(name="google-site-verification" content="vIQZV2CkEmTs49AGhr3NrlNhHCGZmBp0l9ggZbo77Uo")

block content
  main(
    data-react-class="LandingApp"
    data-react-type="plain"
    data-react-props={ slackButtonUrl: slackButtonUrl, telegramButtonUrl: telegramButtonUrl }
  )
