doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/bundles/stylesheet.bundle.css")
    include ./includes/favicon
    block meta
  body
    block content
    block pagescript
    script(type="text/javascript", src="/bundles/javascript.bundle.js")
    if process.env.NODE_ENV === 'production'
      script(type="text/javascript", src="/javascripts/ga.js")
