doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/bundles/stylesheet.bundle.css")
    include ./includes/favicon.jade
  body
    block content
    block pagescript
    script(type="text/javascript", src="/bundles/javascript.bundle.js")
