extends ../layout

block content
  main(
    data-react-class="SurveyApp"
  )

block pagescript
  script(type="text/javascript").
    window.__INITIAL_STATE__ = {
      survey: !{JSON.stringify(survey)},
      questions: !{JSON.stringify(questions)},
      userAnswers: !{JSON.stringify(userAnswers)}
    }
